<div class="row mt-4">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
      <div class="card mx-auto w-75">
        <div class="card-header bg-primary text-light">Login</div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group" *ngFor="let f of fields">
              <label>{{f.label | titlecase}}</label>
              <input class="form-control" [ngClass]="{'is-invalid': isInvalid(f.name)}" [formControlName]="f.name" [type]="f.type" [placeholder]="'Your '+f.name" [autocomplete]="f.name">
              <div class="invalid-feedback" *ngIf="isInvalid(f.name)">{{getFormErrors(f.name)}}
              </div>
            </div>
            <div>
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <button type="submit" class="btn btn-outline-primary d-inline-block mr-2">Login</button>
              <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
              <a [routerLink]="['/forgot-password']" class="text-primary float-right mt-2">Forgot Password?</a>
            </div>
            <div class="invalid-feedback mt-3 d-block" *ngIf="errorMessage">{{errorMessage}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <p ="'demo.text'"></p> -->
<!-- <div>
    <button class="btn btn-primary" (click)="useLanguage('en')">en</button>
    <button class="btn btn-info" (click)="useLanguage('de')" type="button">de</button>
  <h1>{{ 'demo.title'}}</h1>


  <p translate>demo.text</p>
  <p>{{ 'demo.greeting'{'name':'Andreas'} }}</p>
  <p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>
</div>
-->
